{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-unused-vars": "off",
    "no-array-constructor": "error",
    "comma-dangle": "error",
    "computed-property-spacing": "error",
    "arrow-spacing": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "switch-colon-spacing": "error",
    "no-whitespace-before-property": "error",
    "space-infix-ops": "error",
    "no-trailing-spaces": "error",
    "space-before-function-paren": "error",
    "space-in-parens": "error",
    "array-bracket-newline": [
      "error",
      {
        "minItems": 2
      }
    ],
    "array-bracket-spacing": "error",
    "arrow-parens": "error",
    "array-element-newline": [
      "error",
      {
        "minItems": 2
      }
    ],
    "vars-on-top": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "no-lonely-if": "error",
    "no-useless-rename": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "semi": [
      "error",
      "never"
    ],
    "one-var": [
      "error",
      "never"
    ],
    "block-scoped-var": "error",
    "object-curly-spacing": "error",
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "object-curly-newline": "error",
    "no-bitwise": "error",
    "require-await": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "sort-vars": "error",
    "wrap-iife": "error",
    "func-call-spacing": [
      "error",
      "never"
    ],
    "eol-last": "error",
    "dot-notation": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "newline-per-chained-call": "error",
    "curly": [
      "error",
      "all"
    ],
    "lines-between-class-members": "error",
    "comma-spacing": "error",
    "quotes": [
      "error",
      "double",
      "avoid-escape"
    ],
    "vue/script-indent": "error",
    "vue/html-closing-bracket-spacing": "error",
    "vue/html-closing-bracket-newline":["error", {
      "singleline": "never",
      "multiline": "never"
    }],
    "vue/prop-name-casing": "error",
    "vue/html-self-closing": "off",
    "vue/no-v-html": "off"
  },
  "extends": "plugin:vue/recommended"
}