@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);

$primary: #333333;
$secondary: #fbbf4d;
$success: #28C76F;
$danger: #EA5455;
$warning: #FF9F43;
$dark: #333333;
$grey: #f4f7fc;
$grey-light: #f4f7fc;
$white: #fff;
$black: #222222;




$font-family-sans-serif:  "Quicksand", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.74;
$h3-font-size:                $font-size-base * 1.51;
$h4-font-size:                $font-size-base * 1.32;
$h5-font-size:                $font-size-base * 1.14;
$h6-font-size:                $font-size-base;


$line-height-base:        1.625rem !default;

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.2 !default;
$headings-color:          #2c2c2c;
$headings-margin-bottom:      ($spacer / 2) !default;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.45;

$content-color: #626262;
$theme-background: #f4f7fc;




$reduced-sidebar-width: 80px;




$sidebar-dark-bg: $primary;
$dark-card-bg: #666;
$content-dark-bg: #333;
$dark-card-color: #444;
$table-dark-stripe: #333333;
$table-light-stripe: #333333;
$grid-dark-color: #666666;

$theme-light-dark-bg: #333333;
$theme-dark-bg: #222222;
$theme-dark-text-color: #fff;
$theme-dark-heading-color: #ebeefd;
$theme-dark-border-color: #414561;
